.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.home-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.nav-links {
  display: flex;
  gap: 80px;
}

.home-content {
  margin-top: 60px;
  text-align: center;
}

.nav-button {
  padding: 10px 20px;
  background-color: #7395a0;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
}